.container {
    margin: 10px;
}

.popular-categories {
    display: flex;
    flex-direction: row;
    height: 125px;
}

.popular-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    height: 90px;
    width: 170px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

.pc-text {
    margin: 5px;
}

.pc-thumb {
    height: 58px;
    width: 58px;
    margin-right: 5px;
}

.pc-box-thumb {
    display: flex;
    justify-content: end;
    height: 60px;
}

.pc-box-text {
    height: 30px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

.c-text {
    height: fit-content;
    margin-bottom: 10px;
}

.c-thumb {
    margin-top: 15px;
    height: 55px;
    width: 55px;
}